body{
            background-color: rgb(209, 216, 219);
            /* color:rgb(211, 128, 20) ; */
        }
        /* @media(max-width:768) { */
           
        .whole{
            display:flex;
            flex-direction: row;
            height: auto;
            /* background: aqua; */
        }
    /* } */
        .profiledetails{
            display: flex;
            border: solid 2px rgb(44, 43, 42);;
            border-radius: 20px;
            width:25%;
            height:550px;
            margin-top: 30px;
            margin-bottom: 0;
            background: rgb(218, 121, 24);
        }
        .professionaldetails{
            display: flex;
            flex-direction: column;
            border: solid 2px rgb(44, 43, 42);;
            border-radius: 20px;
            width:70%;
            margin-left: 12px;
            /* height:auto; */
            margin-top: 30px;
            margin-bottom: 0;
            background: rgb(218, 121, 24);;
        }
        .image{

            display:flex;
            flex-direction: column;
            align-items: center;
            /* border:solid 2px red; */
            /* margin-left:15px;
            margin-right:15px; */
            /* border-radius: 5px solid red ; */
            /* margin-left:15px;
            margin-right:20px; */
            /* margin-left: */
        }
        .image img{
            width:150px;
            height:150px;
           
            margin-left: 70px;;
            margin-top: 30px;
            /* align-items: center; */
        }
        .image h2{
            font-family:  sans-serif;
          /* text-align: center; */
          color: antiquewhite;
          margin-left: 70px;; 
        }
        .image h3{
            margin-top: 2px;;
            margin-left: 70px;;
            font-family:  sans-serif;
        }
        p{
          font-family:  sans-serif;  
        }
        .navbar{
            display:flex;
            direction: row;
            margin-left: auto;
            height:8%;
            background-color: none;
            border-radius: 15px;
            width: auto;
        }
        .navbar a:hover{
            color: black;
        }
        .navbar a{
            padding: 10px;;
            height: 10px;
            width:auto;
            font-size: 25px;
            color: rgb(221, 214, 214);
            text-decoration: none;
            font-family:sans-serif ;
        }
        h2{
           font-family:sans-serif ; 
           font-size:24px ;
           margin-left: 8px;
        }
        p{
         font-family:sans-serif ; 
           font-size:18px ; 
           margin-left: 8px;  
        }
        .underNav {
            display: flex;
            flex-direction: column;
            height: auto;
    display: none;
}

.underNav .project-card{
     display: flex;
            flex-direction: column;
}

.underNav.active {
    display: block;
    
}


span {
    display: inline-block;
    background: #e0b379;
    padding: 8px 14px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
}

 h3{
    color: #0a2540;
    text-decoration: underline;
}
/* ---------- MOBILE VIEW FIX ---------- */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .whole {
        flex-direction: column; /* stack vertically */
        align-items: center;
    }

    .profiledetails {
        width: 95%;
        height: auto;
        margin: 15px 0;
        justify-content: center;
    }

    .professionaldetails {
        width: 95%;
        margin: 15px 0;
    }

    .image {
        align-items: center;
    }

    .image img {
        margin-left: 0;
        width: 120px;
        height: 120px;
    }

    .image h2,
    .image h3 {
        margin-left: 0;
        text-align: center;
    }

    .navbar {
        margin-left: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navbar a {
        font-size: 18px;
        padding: 8px 12px;
    }

    h2 {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
    }

    p {
        font-size: 16px;
        margin-left: 0;
        text-align: center;
    }

    .underNav {
        padding: 10px;
    }

    span {
        font-size: 13px;
        padding: 6px 12px;
    }
}
.navbar {
    flex-direction: row;
}