      body{
            background-color: rgb(218, 121, 24);
            /* color:rgb(211, 128, 20) ; */
        }
        .whole{
            display:flex;
            flex-direction: row;
            height: auto;
        }
        .profiledetails{
            display: flex;
            border: solid 2px rgb(44, 43, 42);;
            border-radius: 20px;
            width:25%;
            height:600px;
            margin-top: 30px;
            margin-bottom: 0;
        }
        .professionaldetails{
            display: flex;
            flex-direction: column;
            border: solid 2px rgb(44, 43, 42);;
            border-radius: 20px;
            width:70%;
            margin-left: 12px;
            /* height:auto; */
            margin-top: 30px;
            margin-bottom: 0;
            margin-right: 0;
        }
        .image{

            display:flex;
            flex-direction: column;
            align-items: center;
            /* border:solid 2px red; */
            /* margin-left:15px;
            margin-right:15px; */
            /* border-radius: 5px solid red ; */
            /* margin-left:15px;
            margin-right:20px; */
            /* margin-left: */
        }
        .image img{
            width:150px;
            height:150px;
           
            margin-left: 70px;;
            margin-top: 30px;
            /* align-items: center; */
        }
        .image h2{
            font-family:  sans-serif;
          /* text-align: center; */
          color: antiquewhite;
          margin-left: 70px;; 
        }
        .image h3{
            margin-top: 2px;;
            margin-left: 70px;;
            font-family:  sans-serif;
        }
        p{
          font-family:  sans-serif;  
        }
        /* @media (max-width: 768px) { */
        .navbar{
            display:flex;
            direction: row;
            margin-left: 30%;
            height:8%;
            background-color: none;
            border-radius: 15px;
            width: auto;
            /* justify contentadded now */
            /* justify-content: space-between; */
        }
        .navbar a{
            padding: 10px;;
            height: 10px;
            width:auto;
            font-size: 25px;
            color: rgb(20, 20, 20);
            text-decoration: none;
            font-family:sans-serif ;
        }
    /* } */
        h2{
           font-family:sans-serif ; 
           font-size:24px ;
           margin-left: 8px;
        }
        p{
         font-family:sans-serif ; 
           font-size:18px ; 
           margin-left: 8px;  
        }
        .underNav {
            display: flex;
            flex-direction: column;
            height: auto;
    display: none;
}

.underNav .project-card{
     display: flex;
            flex-direction: column;
}

.underNav.active {
    display: block;
    
}


span {
    display: inline-block;
    /* background: #6f7072; */
    padding: 8px 14px;
    margin: 6px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 18px;
    font-family:sans-serif ;
}

 h3{
    color: #0a2540;
    text-decoration: underline;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .whole {
    width: 100%;
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
